# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
.idea/
*.iml

# VS Code
.vscode/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace
ios/Flutter/Flutter.podspec

# Android
.android/
.gradle/
local.properties
*.keystore

# Misc
*.log
*.lock